.container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.top-panel {
  position: absolute;
  width: 100%;
  height: 33%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-screen-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
.cover-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.polyGon {
  position: absolute;
  top: 160px;
  height: 220px !important;
  /* object-fit: cover; */
}
.logo {
  top: 10%;
  left: 5%;
  width: 67px;
  height: 57px;
}
.kanavs {
  position: absolute;
  top: 90px;
  width: 144px;
  height: 144px;
  z-index: 1;
}

.bottom-panel {
  position: absolute;
  width: 100%;
  height: 67%;
  left: 0;
  bottom: 0;
  padding: 1rem 1rem;
  display: grid;
  grid-template-rows: 7fr 6fr 5fr 2fr;
  box-sizing: border-box;
}
.intro {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 109%;
  /* or 20px */

  text-align: center;

  color: #191e31;
}
.intro p {
  padding: 0rem;
  margin: 0.5rem;
}
.foundingInfo {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;

  color: #bf5184;
}
.intro-details {
  font-size: 10px;
  line-height: 15px;
  text-align: center;

  color: #000000;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-button {
  width: 75px;
  height: 22px;
  left: 225px;
  top: 333px;

  background: #bf5184;
  border: 1px solid #bf5184;
  border-radius: 2px;
  color: white;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}
.contact-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 80%;
  margin: 0 10%;
  box-sizing: border-box;
  cursor: pointer;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}
.about p{
    padding: .1rem 0;
    margin: .1rem 0;
}
.about-header {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #bf5184;
}
.about-name {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: left;
  color: #000000;
}
.adderessChilds{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (min-width: 500px) {
    .container {
        position: fixed;
        width: 60%;
        height: 100%;
        left: 0;
        top: 0;
        box-sizing: border-box;
        margin: 0 20%;
      }
      .bottom-panel {
        position: absolute;
        width: 100%;
        height: 67%;
        left: 0;
        bottom: 0;
        padding: 0 10%;
        display: grid;
        grid-template-rows: 4fr 3fr 4fr;
        box-sizing: border-box;
      }
}